@model Domain.Entities.Book

@{
}

<form method="post" asp-action="Edit" asp-controller="Book">
	<div class="mt-3">
		<label class="form-label" for="Title">Title</label>
		<input class="form-control" type="text" asp-for="Title" />
	</div>

	<div class="mt-3">
		<label class="form-label" for="Author">Author</label>
		<input class="form-control" type="text" asp-for="Author" />
	</div>

	<div class="mt-3">
		<label class="form-label" for="Language">Language</label>
		<input class="form-control" type="text" asp-for="Language" />
	</div>

	<div class="mt-3">
		<label class="form-label" for="Quantity">Quantity</label>
		<input class="form-control" type="number" asp-for="Quantity" />
	</div>

	<div class="mt-3">
		<input class="btn btn-outline-dark" type="submit" value="Save Changes" />
	</div>

</form>