@model Domain.Entities.BorrowRecord

@{
}

<form method="post" asp-action="Create">

	<div class="mb-3">
		<label class="form-label">Book to issue</label>
		<div class="input-group-text">
			<a class="bg-light">@ViewBag.Book.Title</a>
		</div>
	</div>

	<div class="mb-3">
		<label class="form-label">Member</label>
		<div class="input-group-text">
			<select asp-for="MemberId" asp-items="@ViewBag.Members">
				<option value="">--Select member--</option>
			</select>
		</div>
	</div>

	<div class="mb-3">
		<label class="form-label">Lend till</label>
		<div class="input-group-text">
			<input type="date" asp-for="EndDate" />
		</div>
	</div>

	<input type="hidden" asp-for="OverdueFine" value="0.0m" />
	<input type="hidden" asp-for="IsOverdue" value="False" />
	<input type="hidden" asp-for="BookId" value="@ViewBag.Book.Id" />
	<div class="mb-3">
		<input type="submit" class="btn btn-outline-success" value="Submit" />
	</div>
</form>
